.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 18px;
  color: #2e7c8d;
}

.input {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border: 1px solid white;
  border-radius: 4px;
}
